<header class="page-header">
<div class="bg-primary">
	<div class="container">
		<div class="flex flex-wrap items-center justify-between py-4">
		<div class="flex items-center space-x-5">
			<a href="{{ siteUrl }}">
				{{ svg('@webroot/img/logo.svg')|attr({ class: 'w-full max-w-logo' }) }}
			</a>
			<h3 class="mt-5 text-white">Datahub Racisme en Holebifobie</h3>
		</div>
		<div class="md:flex md:flex-wrap md:space-x-4">
		<div class="hidden md:flex">
			{% include '_snippet/_nav/_service' %}
		</div>
		<div class="hidden md:flex md:space-x-4">
			<p class="text-white">|</p>
			{% include '_snippet/_nav/_language' %}
		</div>
		</div>

			<a href="#flyout" class="text-3xl js-flyout-toggle md:hidden" role="button">
				<span class="sr-only">Menu</span>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="/icon/sprite.svg#menu"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
</header>
