<header class="page-header">
<div class="bg-primary">
	<div class="container">
		<div class="flex flex-wrap items-center justify-between py-4">
			<a href="{{ siteUrl }}">
				{{ svg('@webroot/img/logo.svg')|attr({ class: 'w-full max-w-logo' }) }}
			</a>
		<div class="flex flex-wrap space-x-4">
			{% include '_snippet/_nav/_service' %}
			<p class="text-white">|</p>
			{% include '_snippet/_nav/_language' %}
		</div>

			<a href="#flyout" class="text-3xl js-flyout-toggle md:hidden" role="button">
				<span class="sr-only">Menu</span>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="/icon/sprite.svg#menu"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
</header>
