<form action="{{ url('search/results') }}">
    <input class="w-1/4 mr-5 form__input" type="search" name="q">
    <input class="rounded btn btn--primary btn--ext" type="submit" value="Zoeken">
</form>