{% extends "_layout" %}

{% set breadcrumbs = [
    entry,
] %}

{% block content %}

<div class="section section--default">
    <div class="container">
        <div class="w-full md:w-3/4">
            {% include '_snippet/_content/_pageTitle' %}
            {% include '_snippet/_content/_intro' %}
        </div>
    </div>
</div>

    {% include '_snippet/_content/_contentBuilder'
        with {
        settings : {
            section: 'section',
            container: 'container'
        }
    } %}

    <div class="section section--default">
        <div class="container">
                {{ craft.freeform.form("contactForm", {
                    labelClass: "form__label text-white",
                    inputClass: "form__input",
                    submitClass: "btn btn--primary btn--ext"
                }).render() }}
        </div>
    </div>

{% endblock %}
